In [1]:
import os
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
# Reproducibility
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)

In [3]:
# CONFIG
TRAIN_PATH = "LSTM-Multivariate_pollution.csv"
TEST_PATH = "pollution_test_data1.csv"

TIME_STEPS = 12     # shorter lookback -> faster per epoch
BATCH_SIZE = 128
EPOCH = 50
PATIENCE = 10
LR = 1e-3

In [4]:
# LOAD & ALIGN COLUMNS
df_train = pd.read_csv(TRAIN_PATH)
df_test = pd.read_csv(TEST_PATH)

df_train

                      date  pollution  dew  temp  ...  wnd_dir wnd_spd  snow  rain
0      2010-01-02 00:00:00      129.0  -16  -4.0  ...       SE    1.79     0     0
1      2010-01-02 01:00:00      148.0  -15  -4.0  ...       SE    2.68     0     0
2      2010-01-02 02:00:00      159.0  -11  -5.0  ...       SE    3.57     0     0
3      2010-01-02 03:00:00      181.0   -7  -5.0  ...       SE    5.36     1     0
4      2010-01-02 04:00:00      138.0   -7  -5.0  ...       SE    6.25     2     0
...                    ...        ...  ...   ...  ...      ...     ...   ...   ...
43795  2014-12-31 19:00:00        8.0  -23  -2.0  ...       NW  231.97     0     0
43796  2014-12-31 20:00:00       10.0  -22  -3.0  ...       NW  237.78     0     0
43797  2014-12-31 21:00:00       10.0  -22  -3.0  ...       NW  242.70     0     0
43798  2014-12-31 22:00:00        8.0  -22  -4.0  ...       NW  246.72     0     0
43799  2014-12-31 23:00:00       12.0  -21  -3.0  ...       NW  249.85     0     0

[43800 rows x 9 columns]

In [5]:
df_test

     dew  temp  press wnd_dir  wnd_spd  snow  rain  pollution
0    -16     4   1027      SE     3.58     0     0        128
1    -17     5   1027      SE     7.60     0     0         77
2    -16     4   1027      SE     9.39     0     0         65
3    -16     1   1028      cv     0.89     0     0         79
4    -14     0   1028      NE     1.79     0     0         93
..   ...   ...    ...     ...      ...   ...   ...        ...
341  -23    -2   1034      NW   231.97     0     0          8
342  -22    -3   1034      NW   237.78     0     0         10
343  -22    -3   1034      NW   242.70     0     0         10
344  -22    -4   1034      NW   246.72     0     0          8
345  -21    -3   1034      NW   249.85     0     0         12

[346 rows x 8 columns]

In [8]:
# Drop date column in train set as test set doesnt have it
if "date" in df_train.columns:
          df_train = df_train.drop(columns=["date"])

# Ensure consistent column order
cols = ["pollution", "dew", "temp", "press", "wnd_dir", "wnd_spd", "snow", "rain"]
df_train = df_train[cols]
df_test = df_test[cols]
df_train

       pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
0          129.0  -16  -4.0  1020.0      SE     1.79     0     0
1          148.0  -15  -4.0  1020.0      SE     2.68     0     0
2          159.0  -11  -5.0  1021.0      SE     3.57     0     0
3          181.0   -7  -5.0  1022.0      SE     5.36     1     0
4          138.0   -7  -5.0  1022.0      SE     6.25     2     0
...          ...  ...   ...     ...     ...      ...   ...   ...
43795        8.0  -23  -2.0  1034.0      NW   231.97     0     0
43796       10.0  -22  -3.0  1034.0      NW   237.78     0     0
43797       10.0  -22  -3.0  1034.0      NW   242.70     0     0
43798        8.0  -22  -4.0  1034.0      NW   246.72     0     0
43799       12.0  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

In [9]:
df_test

     pollution  dew  temp  press wnd_dir  wnd_spd  snow  rain
0          128  -16     4   1027      SE     3.58     0     0
1           77  -17     5   1027      SE     7.60     0     0
2           65  -16     4   1027      SE     9.39     0     0
3           79  -16     1   1028      cv     0.89     0     0
4           93  -14     0   1028      NE     1.79     0     0
..         ...  ...   ...    ...     ...      ...   ...   ...
341          8  -23    -2   1034      NW   231.97     0     0
342         10  -22    -3   1034      NW   237.78     0     0
343         10  -22    -3   1034      NW   242.70     0     0
344          8  -22    -4   1034      NW   246.72     0     0
345         12  -21    -3   1034      NW   249.85     0     0

[346 rows x 8 columns]

In [11]:
# SIMPLE MISSING VALUE HANDLING
# numeric interpolation +  foward/backward fill for category
num_cols = ["pollution", "dew", "temp", "press", "wnd_spd", "snow", "rain"]
df_train[num_cols] = df_train[num_cols].interpolate(limit_direction="both", axis=0)
df_test[num_cols] = df_test[num_cols].interpolate(limit_direction="both", axis=0)

df_train["wnd_dir"] = df_train["wnd_dir"].ffill().bfill()
df_test["wnd_dir"] = df_test["wnd_dir"].ffill().bfill()

In [ ]:
# PREPROCESSING (OneHotEncoder for wnd_dir + scaling)
# Built a ColumnTransformer: OneHot for wnd_dir, MinMax for numeric
numeric_features = ["pollution", "dew", "temp", "press", "wnd_spd", "snow", "rain"]
cat_features = ["wnd_dir"]

# OneHotEncoder (sparse -> False to get numpy array)
ohe = OneHotEncoder(handle_unknown="ignore", sparse_output=False)
# Fit OHE on combined categorires to avoid unseen categories problems
ohe.fit()